html{
	font-size:16px;
	font-family: 'DM Serif Display', serif;
}
header{
	position:fixed;
	top:0;
	z-index:10;
	width:99.44%;
	left:0;
	right:0;
}
.head{
	width:100%;
	height:auto;
	padding:0;
	top:0;
	background-color:white;
	border:5px solid rgba(179,0,0);
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items: center;
}
.head img{
	width:80px;
	height:auto;
	margin:0 auto;
}
.name{
	display:inline-block;
	color:black;
	text-shadow: 1px 1px red;
	margin:0 auto;
}
.nav{
	display:flex;
	margin:0 auto;
}
.nav li{
	display:inline-block;
	padding:10px;
}
.nav li a{
	text-decoration:none;
}
.nav li a button{
	background-color:black;
	color:white;
	border:none;
	border-radius:5px;
	padding:5px;
}
.nav li a button:hover{
	background-color:white;
	border: 2px solid black;
	border-radius:5px;
	color:black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,.24);
	transition: all 1s;
	padding:10px;
	cursor:pointer;
}
.nav li a button:active{
	background-color:rgba(179,0,0);
	transition:all .2s;
}
.back{
	width:100%;
	height:auto;
	position:fixed;
	top:2rem;
	z-index:-1;
}
.back img{
	display:none;
}
body{
	position:relative;
	top:50rem;
	background-color:black;
	margin:0;
}
.body{
	display:flex;
	color:white;
	text-align:center;
	justify-content:center;
	align-items:center;
	flex-flow:column wrap;
	gap: 10rem;
	background-color:black;
	border-top:5px solid rgba(179,0,0);
	width:100%;
	margin:0;
}
.home{
	display:flex;
	justify-content:center;
	align-items:space-around;
	flex-flow:row wrap;
}
.home h2{
	width:100%;
	font-size:2.5rem;
}
.home h3{
	width:100%;
	font-size:1.75rem;
}
.home .hht{
	display:inline-block;
	width:45%;
}
.hht img{
	max-width:50%;
	height:auto;
	border: 5px solid rgba(179,0,0);
	box-shadow: 12px 12px 0 0 rgba(255,255,255,.24);
}
.home .empire{
	display:inline-block;
	width:45%;
}
.empire img{
	max-width:50%;
	height:auto;
	border: 5px solid rgba(179,0,0);
	box-shadow: 12px 12px 0 0 rgba(255,255,255,.24);
}
.about{
	background-color:white;
	border: 5px solid rgba(179,0,0);
	color:black;
	padding:2rem;
	width:80%;
}
.about h3{
	font-size:2rem;
}
.about p{
	font-size:1.5rem;
}
.service{
	grid-area: 3 / 1 / 4 / 4;
	display:flex;
	justify-content:space-around;
	align-items:stretch;
	flex-direction:row;
	flex-wrap:wrap;
	margin-bottom:10rem;
}
.big{
	padding: 1.25rem 2rem;
	font-size:1.5rem;
	box-shadow:5px 5px 5px rgba(255,255,255,.5);
}
.big:hover{
	color:red;
	transition:all .5s ease-out;
	padding: 1.5rem 2.25rem;
	
}
.big:active{
	background-color:black;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	transition:all 0s;
}
.service h3{
	width:100%;
	font-size:2.25rem;
}
.service a{
	width:100%;
	padding-bottom:2rem;
}
button{
	color:black;
	padding:1.25rem;
	box-shadow:5px 5px 5px rgba(0,0,0,.5);
	font-size:1.25rem;
	font-family: 'DM Serif Display', serif;
}	
button:hover{
	color:red;
	padding:1.5rem;
	transition:all .5s;
	cursor:pointer;
}
button:active{
	background-color:black;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	transition:all 0s;
}
.install, .clean, .cap{
	background-color:#B5B9BA;
	color:black;
	border: 5px solid rgba(179,0,0);
	overflow:auto;
	display:inline-flex;
	width:30%;
	flex-flow:column wrap;
	box-shadow: 12px 12px 0 0 rgba(255,255,255,.24);
}
.service img{
	max-width:100%;
}
.service p{
	font-size: 1.25rem;
	padding:2rem;
}
.service h4{
	font-size: 2rem;
}
.service h5{
	font-size: 1.5rem;
}
@media (max-width:1300px){
	.nav li a button{
		font-size:1.5rem;
		padding:1.25rem;
	}
	.service{
		flex-direction:column;
		gap:4rem;
		margin:2rem;
	}
	.install,.clean,.cap{
		width:100%;
		flex-flow:row wrap;
		align-items:center;
		justify-content:center;
		gap:2rem;
		font-size:2rem;
	}
	.hht{
		max-width:100%;
	}
	.home img{
		max-width:100%;
	}
	.empire{
		max-width:100%;
	}
	body{
		top:40rem;
	}
	.back{
		top:12rem;
	}
	.home{
		flex-flow:column wrap;
		justify-content:center;
		align-items:center;
	}
	.back video{
		display:none;
	}
	.back img{
		display:block;
		width:100%;
		height:auto;
	}
	button{
		font-size:2rem;
		padding:1.25rem;
	}
	.talk{
		max-width:45%;
	}
	.service img{
		max-width:45%;
		height:auto;
	}
	.about p{
		font-size:2rem;
	}
}