html{
	font-size:16px;
}
header{
	position:fixed;
	top:0;
	z-index:10;
	width:99.44%;
	left:0;
	right:0;
}
.head{
	width:100%;
	height:80px;
	padding:0;
	top:0;
	background-color:white;
	border:5px solid rgba(179,0,0);
	margin:0 auto;
}
.head img{
	width:80px;
	height:auto;
	margin:0 auto;
}
.name{
	display:inline-block;
	float:left;
	color:black;
	padding: 21.5px 20px;
	background-color:#B5B9BA;
	margin:0 auto;
	border-right: 5px solid rgba(179,0,0);
	text-shadow: 1px 1px red;
}
.nav{
	display:inline-block;
	float:right;
	background-color:#B5B9BA;
	padding:17.5px 20px;
	margin:0 auto;
	border-left: 5px solid rgba(179,0,0);
	border-bottom: 5px solid rgba(179,0,0);
}
.nav li{
	display:inline-block;
	padding:10px;
}
.nav li a{
	text-decoration:none;
}
.nav li a button{
	background-color:black;
	color:white;
	border:none;
	border-radius:5px;
	padding:5px;
}
.nav li a button:hover{
	background-color:white;
	border: 2px solid black;
	border-radius:5px;
	color:black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,.24);
	transition: all 1s;
	padding:10px;
	cursor:pointer;
}
.nav li a button:active{
	background-color:rgba(179,0,0);
	transition:all .2s;
}
body{
	position:relative;
	top:100px;
	background-color:black;
}
.body{
	display:inline-grid;
	grid-template: 800px 400px 400px / 1fr 1fr 1fr;
	color:white;
	text-align:center;
	justify-content:center;
	align-items:center;
	gap:50px;
}
.home{
	grid-area: 1 / 1 / 1 / 4;
	display:inline-grid;
	grid-template: repeat(3,150px) / 1fr 1fr;
	justify-content:center;
	align-items:space-around;
}
.home h2{
	grid-area: 1 / 1 / 1 / 3;
}
.home h3{
	grid-area: 2 / 1 / 3 / 3;
}
.home .hp{
	grid-area: 3 / 1 / 4 / 2;
}
.hp img{
	width:300px;
	height:auto;
}
.home .vt{
	grid-area: 3 / 2 / 4 / 3;
}
.vt img{
	width:300px;
	height:auto;
}
.about{
	grid-area: 2 / 2 / 2 / 3;
	background-color:white;
	border: 5px solid rgba(179,0,0);
	color:black;
	padding:20px;
}
.service{
	grid-area: 3 / 1 / 4 / 4;
	display:inline-grid;
	grid-template: 20px 300px / 1fr 1fr 1fr;
	justify-content:space-around;
	align-items:stretch;
	gap: 50px 20px
}
.service h3{
	grid-area: 1 / 2 / 2 / 3;
}
.install{
	grid-area: 2 / 1 / 2 / 2;
}
.clean{
	grid-area: 2 / 2 / 2 / 3;
}
.cap{
	grid-area: 2 / 3 / 2 / 4;
}
.install, .clean, .cap{
	background-color:#B5B9BA;
	margin-top:0px;
	margin-bottom:50px;
	color:black;
	border: 5px solid rgba(179,0,0);
}